.average-session-chart-container {
  background-color: #ff0000;
  border-radius: 10px;
  width: 22%;
}

.custom-tooltip {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 14px;
  color: black;
}

.average-sessions-duration_title {
  color: white;
  opacity: 0.5;
  position: absolute;
  font-size: 15px;
  margin-top: 1.5rem;
  line-height: 1.5rem;
  margin-left: 2rem;
}
