body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
}

.main-content {
  margin-left: 60px;
  margin-top: 60px;
  padding: 20px;
  flex-grow: 1;
}

.charts-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 20px;
}

.average-session-chart-container,
.performance-chart-container {
  flex: 1;
}
