body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
}

.main-content {
  margin-left: 60px;
  margin-top: 60px;
  padding: 20px;
  flex-grow: 1;
}

.charts-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.user-informations {
  display: flex;
  gap: 20px;
}

.charts {
  width: 66%;
}

.key-data {
  width: 100%;
}
